#wrapper {
    border: 1px solid #dddddd;
}
#text-area {
    background: #272822;
    padding: 10px;
    height: auto;
    min-height: 100px;
    max-height: 500px;
    color: #e5e5e5;
    border-radius: 5px;
    overflow: auto;
}
#control-area {
    margin-bottom: 5px;
}
#submit-btn {
    margin-top: 5px;
    width: 230px;
    float: right;
    margin-right: 20px;
}
.btn {
    display: block;
    font-size: 12px;
    text-decoration: none !important;
    padding: 3px 5px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px #fff;
}
.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.middle {
    border-radius: 0;
}
.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group {
    display: inline-block;
}
.btn-group .btn {
    margin-right: -5px;
    display: inline-block;
}
.btn-group .right {
    margin-right: 20px;
}
.grey {
    color: #444;
    border: 1px solid #d0d0d0;
    background-image: -moz-linear-gradient(#ededed, #e1e1e1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#ededed));
    background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
    background-image: -o-linear-gradient(#ededed, #e1e1e1);
    text-shadow: 1px 1px 1px #fff;
    background-color: #e1e1e1;
}
.blue {
    color: #41788c;
    border: 1px solid #6fb1c7;
    background-image: -moz-linear-gradient(#aae5f7, #73d0f1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73d0f1), to(#aae5f7));
    background-image: -webkit-linear-gradient(#aae5f7, #73d0f1);
    background-image: -o-linear-gradient(#aae5f7, #73d0f1);
    text-shadow: 1px 1px 1px #bfeafb;
    background-color: #73d0f1;
}
